.container{
    margin: 0px;
    padding: 0px;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
}
.container div{
    background-color: pink;
    font-size: 1.5rem;
}
.header{
    grid-column: 1/span 12;
}
.sidebar{
    grid-column: 1/span 3;
    grid-row: 2/span 10 ;
}
.navigation{
    grid-column: 4/span 6;
}
.main{
    grid-column: 4/span 6;
    grid-row: 3/span 9;
}
.ads{
    grid-column: 10/span 3;
    grid-row: 2/ span 10;
}
.footer{
    grid-column: 1/span 12;
}
@media (max-width:720px){
    .header{
        grid-column: 1/span 12;
    }
    .navigation{
        grid-column: 1/span 12;
        grid-row: 2;
    }
    .sidebar{
        grid-column: 1/span 3;
        grid-row: 3/span 9;
    }
    .main{
        grid-column: 4/span 9;
        grid-row: 3/span 9
    }
    .ads{
        grid-column: 1/span 3;
        grid-row: 12;
       }
    .footer{
        grid-column: 4/span 9;
        grid-row: 12;
    }
}
.loder{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 20px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}