#ib{
    height: 200px;
    width:200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
.block{
    height: 200px;
    width:200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline;
}
#none{
    height: 200px;
    width:200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: none;
}