h1{
    background-color: yellow;
    border: 2px solid black;
}
@media (width:400px){
    h1{
        background-color: red;
        color:gold;
    }
}
@media (min-width:501px){
    h1{
        background-color: red;
        color: gold;
    }
}
@media (max-width:300px){
    h1{
        background-color: hotpink;
        color: blue;
    }
}
@media (min-width:600px) and (max-width:700px){
    h1{
        background-color: brown;
        color: white;
    }
}
@media (orientation: portrait){
    h1{
        background-color: pink;
        color: darkcyan;
    }
}